node_modules/*
testcode
env.sh
build.sh
result.log
lp-env.sh
dotnet/ExternalLibrary/bin/**/*
dotnet/ExternalLibrary/obj/**/*
dotnet/StartUp/bin/**/*
dotnet/StartUp/obj/**/*
lp-env-prod.sh
dist/*
map/*
target/*
bin/**/*
bin
.venv
relay-env.sh
lp-result.log
t.js
